form{
    margin-left: 70px;
}
.droite{
  margin-left: 950px;
  margin-top: -250px;
}

table {
    background-color: black;
    color: turquoise;
    border-collapse:collapse;
    width: auto;
    padding: 15px;
    border: 1px solid blue;
    margin-left: 70px;
}

h1 {
    padding-left: 50%;
}
p {
    color: red;
    font-size: 70%;
}
#boutton {
    margin-left: 650px;
}